{% extends 'layout.twig' %} {% block content %}
<section
  class="mt-8 lg:mt-10 flex flex-col gap-8 lg:gap-10 mx-4 lg:items-center lg:mx-0"
>
  <h1 class="text-center font-semibold tracking-tight lg:text-xl">
    Update password
  </h1>

  {% if passwordReset %}
  <p>Your password has been updated.</p>
  {% else %}
  <form
    class="form-control lg:w-96 gap-3"
    method="post"
    action="/update-password"
  >
    {{ csrf.fields | raw }}

    <label
      class="input input-bordered {{errors.password ? 'input-error'}} flex items-center gap-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
          clip-rule="evenodd"
        />
      </svg>
      <input
        type="password"
        name="password"
        class="grow"
        placeholder="Current password"
        minlength="8"
        required
      />
    </label>
    <div class="label -mt-4">
      <span class="label-text-alt h-2 text-error">{{
        errors.password | first
      }}</span>
    </div>
    <label
      class="input input-bordered {{errors.new_password ? 'input-error'}} flex items-center gap-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
          clip-rule="evenodd"
        />
      </svg>
      <input
        type="password"
        class="grow"
        name="new_password"
        minlength="8"
        placeholder="New password"
        required
      />
    </label>
    <div class="label -mt-4">
      <span class="label-text-alt h-2 text-error">{{
        errors.new_password | first
      }}</span>
    </div>
    <button
      type="submit"
      class="btn btn-primary self-center font-bold mt-4 lg:text-base"
    >
      Update
    </button>
  </form>
  {% endif %}
</section>

{% endblock %}
