<div
  role="tablist"
  id="sort"
  class="tabs tabs-sm border border-base-content rounded-badge py-1.5 px-2"
>
  {% set url = current_url(true) %} {% set active = 'tab-active bg-primary
  text-primary-content' %} {% set default_sort = get_default_sort(sort) %} {% if
  not user and 'showlist' in url %} {% set cases = sort.cases | filter((v) =>
  v.value != 'popular' and v.value != 'new')%} {% else %} {% set cases =
  sort.cases %} {% endif %} {% for case in cases %} {% set value = case.value %}
  {% set filterArr = pagination | filter((v,k) => k != 'totalPages' and k !=
  'page' and k != 'sort' and k != 'showCount') %} {% set queryStr = filterArr |
  map((v,k) => "#{k}=#{v}") | join('&') %}

  <a
    role="tab"
    id="sort-{{ value }}"
    class="tab text-xs font-bold rounded-full capitalize {{ value in url ? active : value is same as(default_sort) and 'sort' not in url ? active }}"
    {%
    if
    value
    is
    same
    as(default_sort)
    %}
    href="{{ current_url() }}{{queryStr != '' ? '?' ~ queryStr}}"
    {%
    else
    %}
    href="{{
      current_url()
    }}{{queryStr == '' ? '?sort=' ~ value : '?' ~ queryStr ~ '&sort=' ~ value }}"
    {%
    endif
    %}
  >
    {{ value }}
  </a>
  {% endfor %}
</div>
