<div
  id="date-{{i}}"
  class="skeleton lg:min-h-52 card gap-6 bg-base-300 rounded-lg p-2 lg:p-0
  {% if i == 1 %} lg:col-start-{{ month|date('N') }}{% endif %}"
>
  <p class="self-end px-3 py-1 text-sm lg:text-base font-semibold">
    {% set today = month|date('Y-m-' ~ i) %}
    <span class="font-normal lg:hidden">{{ today|date("l") }},</span>   
    {{ i }}<span class="text-xs lg:hidden">{{today|date("S")}}</span>
  </p>  
  <div class="card-body justify-end gap-2 lg:gap-1 p-2 text-base-300"> 
  </div>  
</div>


