{% extends 'layout.twig' %} {% block content %}{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('profile') }}
{% endblock %}
<section
  class="mt-4 lg:mt-2 mb-4 mx-2 lg:mx-0 flex flex-col gap-2 lg:flex-row lg:items-start"
>
  <div class="grow flex flex-col gap-10">
    <div
      class="navbar gap-4 flex-col lg:flex-row lg:justify-between lg:py-4 lg:px-20 lg:bg-base-200 lg:h-20 lg:rounded-lg"
    >
      <h1
        class="block text-xl font-bold uppercase lg:max-w-[80ch] lg:overflow-hidden lg:text-ellipsis lg:whitespace-nowrap"
      >
        Profile/Settings
      </h1>
      <div>
        <div class="flex gap-2 items-center">
          <p>{{ email }}</p>
          {% if verified %}
          <div class="tooltip" data-tip="Verified">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
              />
            </svg>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="mx-auto flex flex-col gap-4 w-[95%] lg:w-[40rem]">
      <h2 class="hidden lg:block text-lg font-bold">Calendar</h2>
      <div
        class="hidden lg:flex items-center justify-between gap-4 pb-4 my-6 border-b border-neutral-content/40"
      >
        <p class="">Start week with Sunday</p>
        <input
          type="checkbox"
          id="weekstart"
          class="toggle"
          {%
          if
          user.startOfWeekSunday
          %}
          checked
          {%
          endif
          %}
        />
      </div>
      <h2 class="text-lg font-bold lg:mt-8">Notifications</h2>
      <div
        class="flex flex-col justify-between gap-4 my-6 pb-4 border-b border-neutral-content/40"
      >
        <div class="flex justify-between">
          <p class="">Enable ntfy notifications</p>
          <div
            {%if
            not
            verified
            %}class="tooltip"
            data-tip="Please verify your account to enable notifications"
            {%endif%}
          >
            <input
              type="checkbox"
              id="notifications-toggle"
              data-ntfy-enabled="{{ ntfyTopic ? 'true' : 'false' }}"
              class="toggle"
              {%if
              not
              verified
              %}disabled
              {%endif%}
              {%
              if
              ntfyTopic
              %}
              checked
              {%
              endif
              %}
            />
          </div>
        </div>
        <div
          id="notifications-settings-content"
          class="{{ ntfyTopic ? '' : 'hidden' }} flex flex-col"
        >
          {% if ntfyTopic %}
          <div class="flex flex-col gap-4 my-4">
            <div class="bg-base-200 h-20 p-2 rounded-lg grid">
              <p class="text-xs row-start-1 col-start-1 uppercase">
                Your topic ID
              </p>
              <p
                class="text-xl place-self-center row-start-1 row-end-2 col-start-1 col-end-2"
              >
                {{ ntfyTopic }}
              </p>
            </div>
            <a
              href="#"
              class="text-sm font-bold text-center cursor-pointer hover:underline"
              >What do I do with this?</a
            >
          </div>
          {% else %}
          <div
            class="flex flex-col lg:flex-row gap-6 bg-base-200 p-4 my-4 lg:p-6 rounded-lg"
          >
            {% if verified%}
            <div class="space-y-4">
              <p>
                To enable notifications via <b>ntfy</b>, please set a password
                for notifications. Remember it, as you will need to enter it in
                the app later.
              </p>
              <p>
                More info:
                <a href="#" class="text-primary font-bold">Get notified</a>
              </p>
            </div>
            <form
              method="post"
              id="enable-notifications-form"
              class="flex flex-col gap-2 lg:w-1/2"
            >
              <input
                type="password"
                class="input input-bordered"
                name="notificationsPassword"
                placeholder="Password"
                required
                minlength="8"
              />
              <input
                type="password"
                class="input input-bordered"
                name="confirmNotificationsPassword"
                placeholder="Confirm password"
                required
                minlength="8"
              />
              <button
                class="mt-2 btn btn-sm btn-outline self-center"
                type="submit"
                id="ntfy-submit-btn"
              >
                Enable
              </button>
            </form>
            {% else %}
            <p>Please verify your account to enable notifications.</p>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
      <h2 class="text-lg font-bold mt-4">Profile</h2>
      {% if not verified %}
      <div class="flex flex-col gap-6 my-6">
        <div
          class="flex items-center justify-between gap-4 pb-4 border-b border-neutral-content/40"
        >
          <p class="">Didn't receive the verification email?</p>
          <button
            id="email-resend"
            data-email="{{ email }}"
            class="btn btn-outline btn-sm rounded-lg"
          >
            Resend
          </button>
        </div>
        {% endif %} {% if passwordSet %}
        <div
          class="flex items-center justify-between gap-4 pb-4 border-b border-neutral-content/40"
        >
          <p class="">Change your password</p>
          <a
            href="/update-password"
            class="btn btn-outline btn-primary btn-sm rounded-lg self-center"
            >Update password</a
          >
        </div>
        {% endif %}
        <div
          class="flex items-center justify-between gap-4 {{
            passwordSet ? '' : ' mt-6'
          }}"
        >
          <p class="">Delete account</p>
          <button
            id="delete-account"
            class="btn btn-outline btn-error btn-sm rounded-lg self-center"
          >
            Delete account
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
